.vs/WordleClone/v17/DocumentLayout.json
.vs/WordleClone/v17/DocumentLayout.backup.json
.vs/WordleClone/v17/.wsuo
.vs/WordleClone/FileContentIndex/ec544477-3e15-4d8d-9d30-47ae31cf3c48.vsidx
.vs/slnx.sqlite
