.vs/WordleClone/v17/DocumentLayout.json
.vs/WordleClone/v17/DocumentLayout.backup.json
.vs/WordleClone/v17/.wsuo
.vs/WordleClone/FileContentIndex/ec544477-3e15-4d8d-9d30-47ae31cf3c48.vsidx
.vs/slnx.sqlite
/.vs/WordleClone/FileContentIndex
.vs/WordleClone/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/WordleClone/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/WordleClone/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/WordleClone/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
